/* RESET RULES */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

ul,
ol,
menu {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

:root {
    --main-bg: #141923;
    --green: #9EE92F;
    --player-bg: #282828;
    --grey-text: #707070;
}

/* DEBUG RULES */

/* .debug main {
    background-color: var(--main-bg);
}

.debug nav {
    background-color: black;
}

.debug aside {
    background-color: var(--player-bg);
} */

.debug .player {
    color: white;
}



/* STRUCTURE */

.content-wrapper {
    display: flex;
    height: calc(100vh - 90px);
}

.player {
    height: 90px;
    background-color: var(--player-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    flex-basis: 230px;
    flex-shrink: 0;
    background-color: black;
}

.main-content {
    flex-grow: 1;
    background-color: var(--main-bg);
}

.main__header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
}

@media screen and (max-width: 552px) {

    .sidebar {
        flex-basis: 50px;
    }
}

/* PLAYER */

.song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 230px;
    padding: 0 10px;
}

.song-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.media-player {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    gap: 18px;
    align-items: center;
}

.player__options {
    display: flex;
    flex-basis: 230px;
    gap: 18px;
    padding: 0 10px;
}

.song-info img {
    max-width: 42px;
}

.media__buttons {
    display: flex;
    font-size: 20px;
    gap: 22px;
    align-items: center;
}

.song-name {
    display: block;
}

/* .song__text {
    margin-left: 26px;
    margin-right: 42px;
} */

.song__buttons {
    display: flex;
    gap: 14px;
}

.volume {
    display: flex;
    flex-basis: 150px;
    gap: 14px;
    align-items: center;
}

.player-bar {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.play-button {
    font-size: 32px;
    padding: 0 10px;
}

.progress-bar {
    width: 100%;
    background-color: #5A5A5A;
    border-radius: 999em;
}

.progress__fill {
    display: block;
    height: 5px;
    background-color: #C1C1C1;
    border-radius: 999em;
    width: 25%;
}

.volume-bar {
    flex-basis: 118px;
}

.volume-empty {
    width: 100%;
    background-color: #5A5A5A;
    border-radius: 999em;
}

.volume__fill {
    display: block;
    height: 5px;
    background-color: #C1C1C1;
    border-radius: 999em;
    width: 42%;
}